.container {
 
  margin: auto;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
 
}

/* Profile Card */
.profileCard {
  display: flex;
  flex-wrap: wrap;
  background-color: #1b2a4e;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  transform: translate(-5px);
  border: 2px solid #A5D7E8;
  
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.blurBackground {
    filter: blur(5px);
    pointer-events: none;
  }

.detailsDiv strong{
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

.detailsDiv div svg{
  padding-top: 20px;
  position: relative;
  top: 5px;
  padding: 0px 5px;
  font-size: 1.2rem;
}

.profile-container{
  width: 100%;
}

.detailStrong{
  color: #949494;
}
/* Profile Image */
.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 150px;
  align-items: center;
  width: 20%; /* Set fixed width */
  border-radius: 10px;
  overflow: hidden; 
  aspect-ratio: 1;
}

.profileImage {
  width: 100%;
  object-fit: contain;
  height: auto;
  border-radius: 10px;
}

/* Information Section */
.infoSection {
  flex: 2;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  gap: 10px;
}
.nameCaption {
  width: 40%;
    text-align: left;
    
  }
  .details {
    color: #A5D7E8;
    width: 70%;
    text-align: left;
  }
.details p {
  margin: 5px 0;
  
  width: 100%;
}

.editButton,
.newArticleButton,
.newPostButton,
.testimonialButton {
  background-color: #A5D7E8;
  border: none;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 50vh;
  margin: 10px;
}
.closeButton {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
.overlay {
    position: fixed;
    top: 100px;
    
   border-radius: 20px;
    width: 50%;
    height: 50%;
    background-color: rgba(13, 27, 64,0.8);
    display: flex;
    filter: blur(0);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .intro_table{
    width: 100%;
    max-width: 400px; /* Adjust width as needed */
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background */
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
  }
  .intro_table td {
    padding: 10px;
    
    vertical-align: middle;
  }
 
  .intro_table td:first-child {
    font-weight: bold;
    width: 40%; /* Adjust label width */
    white-space: nowrap;
  }
  .hiddenInput{
    display: none;
  }
  /*tble*/
.table {
    width: 100%;  
  
    height: 120%;
    color: white;

  }
  .table tr td {
    padding: 5px;
    text-align: left;
  }
  .table input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  .inputCaption{

    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
 
  .table .RxCross2 {
    float: right;
    cursor: pointer;
  }
  
  
.testimonialButton:hover{
    background-color: #A5D7E8;
}
.editButton:hover{
    background-color: #A5D7E8;
}
/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.tabs button {
  padding: 8px 15px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 15%;
}
.testimonialButton {
  width: 25%;
}
.newArticleButton{
  width: 25%;
}
.newPostButton{
  width: 25%;
}

.Tab1:hover {
    background-color: #A5D7E8;
}
.saveButton {
  background-color: #A5D7E8;
  border: none;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 50vh;
  margin: 10px;
  }
.noTestimonials {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive Design */
@media (max-width: 1300px){
  .profileCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
  .editButton{
  border-radius: 50vh;
  font-size: 12px;
}
}
/* Responsive Design */
@media (max-width: 868px) {
  .profileCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: 10px 0px;
    font-size: small;
    gap: 0px
  }
  .infoSection {
    text-align: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    font-size: small;
  }

  .details h3{
    font-size: 22px;
  }
  .detailsDiv{
    align-items: left;
    text-align: left;
  }
  .detailsDiv div strong{
    font-size: 18px;
  }

  .imageSection {
    aspect-ratio: 1;

  }
  .nameCaption,
  .details {
    text-align: center;
    width: 100%;
  }

  .profileImage {
    max-width: 150px;
    height: auto;
  }
  .editProfile {
    width: 90%;
  }
  .editButton{
  background-color: #A5D7E8;
  border: none;
  padding: 10px 15px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 50vh;
  font-size: 12px;
}
.tabs button {
  padding: 8px 5px;
  font-size: 12px;
}
.testimonialButton {
  width: 60%;
}
.newArticleButton{
  width: 60%;
}
.newPostButton{
  width: 60%;
}
.overlay{
  width: 100%;
}
.editProfile {
  width: 90%;
}

}

@media (max-width: 480px) {
  .tabs {
    flex-direction: column;
    gap: 5px;
  }
  .infoSection {
    text-align: center;
    gap: 10px;
    margin: 0;
    flex-direction: column;
    font-size: small;
  }
  .imageSection {
    aspect-ratio: 1;

  }
  .tabs{
    align-items: center;
  }
  .tabs button {
    width: 40%;
    padding: 8px 10px;
    font-size: 14px;
  }
  .profileCard {
    max-width: 90%;
    overflow: hidden;
  }

  .testimonialButton {
    width: 70%;
  }
  .editProfile {
    width: 0%;
  }

}
@media (max-width: 375px) {
    .tabs {
      flex-direction: column;
      gap: 2px;
    }
    .container{
      text-align: center;
    }
    .profileCard {
      width: 100%;.testimonialButton {
      width: 80%;
    }
    .newArticleButton{
      width: 80%;
    }
    .newPostButton{
      width: 80%;
    }
      align-items: center;
      text-align: center;
      transform: translate(8px);
      justify-content: center;
    }
    .imageSection {
      width: 70%px;
      height: auto;
      aspect-ratio: 1;

    }
    .testimonialButton {
      width: 70%;
    }
    .newArticleButton{
      width: 70%;
    }
    .newPostButton{
      width: 70%;
    }
    .editProfile {
      width: 90%;
    }
    .overlay{
      width: 100%;
    }
  
  }
