.itch-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 10px;
  padding: 20px;
}

  
  .itch-list-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 20%;
    padding: 10px;
  }
  .itch-list-row div{
    margin: 10px;
  }
  
  .itch-button {
    background: #A5D7E8;
    border: none;
    padding: 12px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    min-width: 120px;
    text-align: center;
    margin: 10px;
  }
  
  .itch-button.active {
    background: #0B2447;
    color: white;
    border: solid 2px #A5D7E8;
  }
  

  .upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  

  .upload-label {
    font-size: 18px;
  }
  
  .upload-select {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #A5D7E8;
    color: #000;
  }
  
  .upload-button {
    color: #000;
    background: #A5D7E8;
    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
  }
  

  .itch-card {
    border: solid 3px #A5D7E8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 500px;
    margin-top: 20px;
    margin-left: 100px;
  }
  

  .itch-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  

  .itch-image img {
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    background-color: aliceblue;
  }
  .itch-image{
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    background-color: aliceblue;
  }
  

.itch-button {
  background: #A5D7E8;
  border: none;
  padding: 12px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
}

.itch-button.active {
  background: #0B2447;
  color: white;
  border: solid 2px #A5D7E8;
}


.itch-card {
  border: solid 3px #A5D7E8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  flex: 1;
  max-width: 500px;
}


.itch-title {
  font-size: 24px;
  margin-bottom: 15px;
}


.itch-image {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background-color: aliceblue;
}


.upload-section {
  margin-top: 15px;
}

.upload-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.upload-section input{
  color: #000;
}

.upload-select {
  padding: 8px;
  border-radius: 5px;
  border: none;
  height: 20px;
  background-color:  #A5D7E8;
}

.upload-button {
  color: #000;
  background: #A5D7E8;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}


.menu-toggle {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}





@media (max-width: 800px) {
  
  .content{
    display: flex;
  }
  .itch-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    align-items: center;

  }

  .itch-list-row{
    position: absolute;
    top: 500px;
    display: flex;
    width: 90%;
    
  }
  .itch-card{
    position: absolute;
    top: 0;
    min-width: 300px;
    width: 85%;
    transition: 0.3s ease-in-out;
    margin-left: 0px;

  }


  /* .itch-sidebar {
    background: #0B2447;
    padding: 20px;
    transition: left 0.3s ease;
  }
  .itch-sidebar.open {
    left: 0;
  }*/

  .itch-button {
    width: 15%;
}
}
