

.content h3{
  font-size: 2rem;
  color: #A5D7E8;
}
.content{
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
  justify-content: center;
}
.poll_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;  
  padding:auto;
  scroll-behavior: smooth;
  border-radius: 10px;
}


.option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #A5D7E8;
  margin: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 40%;
}

.icon {
  display: flex;
  align-items: center;
  color: #0B2447;
  margin: 5px;
}

.name h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}
.info{
  display: flex;
  align-items: center;
}
.input_field {
  margin-top: 10px;
  color: #ffff;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;;
  margin-right: 30px;
  padding: 10px 15px;
  margin: 0 5px; /* Add some space between buttons */
  border: none;
  font-size: 1em;
  height: 1rem; /* Set a fixed height */
  background-color: #0B2447;

}
.input_container{
  display: flex;
  flex-direction: row;
}
.submit_btn {
  padding: 8px 15px;
  font-weight: bold;
  background-color: #0B2447;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.submit_btn:hover {
  background-color: #0056b3;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make sure it fills the viewport */
  background-color: #282c34; /* Or your desired background */
}



.select-button {
  background-color: #3d5a80; /* Dark blue background */
  color: white;
}

.submitbutton {
  background-color: #29323c; /* Darker background */
  color: white;
}

@media (max-width: 768px) {
  .input_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .content{
    width: 100%;
  }
  .option{
    width: 100%;
  }
}