/* Container */
.main-body{
  background-color: #0B2447;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  margin-top: 50px;
}

.content{
  background-color: #19376D;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  bottom: 0px;
  width: 80%;
}

.trending-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

/* Post Card */
.post {
  background: #0A2850;
  border-radius: 15px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

/* Profile Section */
.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: lightgray; /* Placeholder for profile image */
}

.profile-pic img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: lightgray; /* Placeholder for profile image */
}


.profile-pic.small {
  width: 30px;
  height: 30px;
}

/* Image Placeholder */
.post-image {
  height: 20rem;
  background: rgb(225, 216, 216);
  border-radius: 10px;
  margin-top: 10px;
  aspect-ratio: 1;
}

.post-image img {
  height: 20rem;;
  border-radius: 10px;

  aspect-ratio: 1;
}

/* Caption */
.caption {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Actions */
.post-actions {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 0px;
  border: solid 2px #A5D7E8;
  border-radius: 5px;
  justify-content: space-evenly;
}

button {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button.liked {
  color: #A5D7E8;
  font-weight: bold;
}

/* Comment Section */
.comment-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.comment-section input {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.post-btn {
  background: #A5D7E8;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 15px;
  
  border: none;
  cursor: pointer;
}

/* Comments
