
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(224, 66%, 15%);
  
}
@media (max-width: 480px){
  .app{
    width: auto;
    align-items: center;
    justify-content: center;
  }
}
